logging.sln
.vscode
.vs
.DS_Store
.editorconfig.txt
Debug
Release
CMakeFiles

logging.vcxproj
logging.vcxproj.*
test

cmake_install.cmake
Makefile
CMakeCache.txt

tmp.log
test.py
logging
logging.conf
stacktrace.h

